.quote{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr fit-content(155px);
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
    "textq img"
    "autor img";
    grid-column-gap: 22px;
}

.quote__text{
   
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 10px 0;
    grid-area: textq;
}
.quote__author{
    
    font-size: 24px;

    font-style: italic;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    grid-area: autor;

}
.quote__author-img{
    grid-area: img;
    border-radius: 50%;
    margin: 25px 0 0 0;
}

@media screen and (max-width:1154px) and (min-width: 728px) {
    .quote__text{
        font-size: 22px;

    }    
    .quote__author{
        font-size: 22px;
    }
    .quote__author-img{
        
        margin: 20px 0 0 0;
        width: 136px;
        height: 128px;
    }
    .quote{
        grid-template-columns: 1fr fit-content(136px);
    }
}

@media screen and (max-width:727px) and (min-width: 650px) {
    .quote__text{
        font-size: 20px;

    }
    .quote__author{
        font-size: 20px;
    }
    .quote__author-img{

        margin: 18px 0 0 0;
        width: 120px;
        height: 120px;
    }
    .quote{
        grid-template-columns: 1fr fit-content(136px);
    }
}
@media screen and (max-width: 649px) and (min-width: 600px){

    .quote__text{
        font-size: 18px;

    }
    .quote__author{
        font-size: 18px;
    }
    .quote__author-img{

        margin: 18px 0 0 0;
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 599px) and (min-width: 500px) {
    .quote{
        column-gap: 10px;
    }
    .quote__text{
        font-size: 15px;

    }
    .quote__author{
        font-size: 15px;
    }
    .quote__author-img{

        margin: 10px 0 0 0;
        width: 85px;
        height: 85px;
    }
}

@media screen and (max-width:499px) and (min-width: 426px) {
    .quote{
        column-gap: 10px;
    }
    .quote__text{
        font-size: 15px;

    }
    .quote__author{
        font-size: 15px;
    }
    .quote__author-img{

        margin: 10px 0 0 0;
        width: 85px;
        height: 85px;
    }
}

@media screen and (max-width:425px) and (min-width: 320px) {
    .quote{
        column-gap: 10px;
    }
    .quote__text{
        font-size: 10px;
        margin: 0 0 7px 0;
        line-height: 18px;

    }
    .quote__author{
        font-size: 10px;
        line-height: 18px;
    }
    .quote__author-img{

        margin: 10px 0 0 0;
        width: 40px;
        height: 40px;
    }
}