.navigation{
    display: flex;
    align-items: center;
}

.navigation__link{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;

    color: #FFFFFF;
    text-decoration: none;
    margin: 0 89px 0 0;
}

.navigation__link:last-child{
    margin: 0;
}

@media screen and (max-width: 1129px) and (min-width: 971px) {
   .navigation__link{
       margin: 0 65px 0 0;
   }
}

@media screen and (max-width: 970px) and (min-width: 900px) {
    .navigation__link{
        margin: 0 45px 0 0;
    }
 }

 @media screen and (max-width: 899px) and (min-width: 871px) {
    .navigation__link{
        margin: 0 35px 0 0;
    }
 }
 @media screen and (max-width: 870px) and (min-width: 830px) {
    .navigation__link{
        margin: 0 25px 0 0;
    }
 }

 @media screen and (max-width: 829px) and (min-width: 700px) {
    .navigation__link{
        margin: 0 25px 0 0;
        font-size: 18px;
    }
 }

 @media screen and (max-width: 699px) and (min-width: 665px) {
    .navigation__link{
        margin: 0 20px 0 0;
        font-size: 15px;
    }
 }

 @media screen and (max-width: 664px) and (min-width: 550px) {
    .navigation__link{
        margin: 0 20px 0 0;
        font-size: 15px;
    }
 }

 @media screen and (max-width: 549px) and (min-width: 500px) {
    .navigation__link{
        margin: 0 12px 0 0; 
        font-size: 15px;
    }
 }

 @media screen and (max-width: 499px) and (min-width: 470px){
    .navigation__link{
        margin: 0 12px 0 0; 
        font-size: 15px;
    }
 }

 @media screen and (max-width: 469px) and (min-width: 400px){
    .navigation__link{
        margin: 0 10px 0 0; 
        font-size: 12px;
    }
 }
 @media screen and (max-width: 399px) and (min-width: 320px){
    .navigation__link{
        margin: 0 5px 0 0; 
        font-size: 10px;
    }
 }