.locale-switch{
    display: flex;
    align-items: center;
    color: #FFFFFF;
       
}

.locale-switch__link{
    
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    
    margin: 0 15px 0 0;
    cursor: pointer;
}

.locale-switch__link_active{
    text-decoration: underline;
}

.locale-switch__link:last-child{
    margin: 0;
}

@media screen and (max-width: 829px) and (min-width: 700px) {
    .locale-switch__link{
        
        font-size: 18px;
    }
 }

 @media screen and (max-width: 664px) and (min-width: 500px){
    .locale-switch__link{
        margin: 0 7px 0 0;
        font-size: 15px;
    }
 }

 @media screen and (max-width: 499px) and (min-width: 400px){
    .locale-switch__link{
        margin: 0 7px 0 0;
        font-size: 15px;
    }
 }

 @media screen and (max-width: 399px) and (min-width: 320px){
    .locale-switch__link{
        margin: 0 5px 0 0;
        font-size: 10px;
    }
 }